.project_history{
    margin-inline: 4rem;
}

.project_history h1{
    color: #020072;
    text-align: center;
    font-size: 48px;
    margin-bottom: 2rem;
}

.image_history  {
    display: flex;
    justify-content: center;
}

.components{
    background-color: #020072;
}

.title_Components{
    padding: 2rem;
}

.title_Components h1{
    color: #fff;
    text-align: center;
    font-size: 48px;
}

.components_arduino button{
    width: 9.875rem;
    height: 2.25rem;
}

.components_slider{
    padding-bottom: 9.5rem;
}

.code h1{
    color: #020072;
    text-align: center;
    font-size: 48px;
    margin-top: 2rem; 
}

.Git_button{
    display: flex;
    justify-content: center;
    margin-top: 12.5rem;
    margin-bottom: 2rem;
}

.Git_button button{
    border: none;
    background-color: #020072;
    color: #fff;
    width: 200px;
}

@media (min-width: 800px){
    .project_history{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;

    }

    .image_history img{
        height: 28.75rem;
        width: 29.375rem;
        margin-right: 16.75rem;
    }
}